#header {
	background-color: blue;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 15%;
	width: 100%;
}

#ProfileHeaderTitle{
	background-color: blue;
	position: relative;
	left: 10%;
	top: 20%;
	height: 60%;
	width: 30%;
}

#ProfilePicture{
	background-color: blue;
	position: relative;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 15%;
}

#ProfileName{
	position: absolute;
	left: 20%;
	top: 0px;
}

body{
	background-color: lightblue;
}

#HomeScreen{
	background-color: lightblue;
	position: absolute;
	left: 0px;
	top: 15%;
	width: 100%;
	height: 600px;
}

#LargeName{
	background-color: lightblue;
	text-align: center;
	font-size: 50px;
	position: relative;
	color: white;
	left: 25%;
	top: 37.5%;
	height: 25%;
	width: 50%;
}

#AllAboutMeCaption{
	background-color: lightblue;
	text-align: center;
	font-size: 30px;
	position: relative;
	color: whitesmoke;
	left: 25%;
	top: 20%;
	height: 25%;
	width: 50%;
}

#LearnMoreButton{
	background-color: rgb(0, 0, 235);
	text-align: center;
	font-size: 20px;
	position: relative;
	color: whitesmoke;
	left: 42.5%;
	top: 2%;
	height: 7.5%;
	width: 15%;	
}

#LearnMoreButton:hover{
	background-color: rgb(0, 0, 200);
}

#PopUp {
	position: absolute;
	left: 20%;
	top: 30%;
	width: 60%;
	height: 40%;
	background-color: royalblue;
	margin: 5px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	padding: 10px;
	display: none;
}

#GettingSSNHeading{
	position: absolute;
	text-align: center;
	top: 32.5%;
	left: 26.5%;
}

#Percentage{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
}